{
  "rules": {
    "semi": 2,
    "prefer-template": 1,
    "no-var": 2,
    "no-unused-vars": 2,
    "camelcase": 2,
    "no-nested-ternary": 1,
    "no-console": 1,
    "no-template-curly-in-string": 1,
    "no-self-compare": 2,
    "arrow-body-style": 1,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["off", { "devDependencies": false }]
  },
  "ignorePatterns": ["dist", "node_modules", "webpack.*", "config/paths.js"],
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.common.js"
      }
    }
  }
}
