[data-sic] {
  opacity: 0;
}

.sic-main {
  position: relative;
  box-sizing: border-box;
  display: flex;
  user-select: none;
  visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  max-width: 100%;
  overflow: hidden;

  & * {
    user-select: none;
    -webkit-user-select: none;
    /* touch-action: manipulation; */
  }

  &:hover {
    .sic-arrow-1 {
      transform: translate(-2px);
    }
    .sic-arrow-2 {
      transform: translate(2px);
    }
  }

  img {
    pointer-events: none !important;
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: auto;
  }

  .sic-clip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);

    img {
      height: 100%;
    }
  }

  .sic-label {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    font-size: 14px;
    bottom: 1em;
    padding: 0.5em 1em;
    border-radius: 3px;
    color: #fff;
    background: var(--sicBgColor);
    line-height: 1em;
    max-width: calc(45% - 30px);
  }

  .sic-label-one {
    left: 1em;
  }

  .sic-label-two {
    right: 1em;
  }

  .sic-handle {
    position: absolute;
    transform: translate3d(0, 0, 0);
  }

  .sic-line {
    position: absolute;
  }

  .sic-line::before {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-out;
    content: '';
    position: absolute;
  }

  .sic-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    transition: transform 0.2s ease-out;
  }

  .sic-arrows {
    position: absolute;
    width: 36px;
    height: 36px;
  }

  .sic-arrow {
    position: absolute;
    top: 2px;
    width: 32px;
    height: 32px;
    transition: transform 0.2s ease-out;
  }

  .sic-arrow-1 {
    left: -6px;
  }

  .sic-arrow-2 {
    right: -6px;
  }

  &.sic-horizontal {
    .sic-handle {
      height: 100%;
      width: 2px;
      top: 0;
      margin-left: -1px;
    }

    .sic-line {
      width: 100%;
      left: 0;
      height: 50%;

      &::before {
        width: 100%;
        height: 200%;
        left: 0;
      }

      &.sic-line-1 {
        top: 0;
        &::before {
          transform: translate3d(0, -20px, 0);
          bottom: 0;
        }
      }

      &.sic-line-2 {
        bottom: 0;
        &::before {
          transform: translate3d(0, 20px, 0);
          top: 0;
        }
      }
    }

    &:hover * {
      cursor: col-resize;
    }
  }

  &.sic-vertical {
    .sic-handle {
      height: 2px;
      width: 100%;
      left: 0;
      margin-top: -1px;
    }

    .sic-line {
      width: 50%;
      top: 0;
      height: 100%;
      &.sic-line-1 {
        left: 0;
        /* transform: translate3d(-20px, 0, 0); */
      }

      &.sic-line-2 {
        right: 0;
        /* transform: translate3d(20px, 0, 0); */
      }
    }

    .sic-arrows {
      transform: rotate(90deg);
    }

    &:hover * {
      cursor: row-resize;
    }
  }

  &.interacting {
    .sic-handle {
      .sic-circle {
        transform: scale(0);
      }
      .sic-line::before {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
